extends ../../layout

block append vars
  - bodyclass = 'sub-category-view'

block content
  .content-wrap
    .btn-menu.block-ver-xs.block-hor-sm.bg-black.text-uppercase.text-smaller Menu
    .row
      .col-xs-12.col-sm-2.bg-xlt-grey.sub-nav-container
        include ../../partials/sub-nav

      .col-xs-12.col-sm-10.block-top-md
        a(href="/consumer-insights"): h4.directory-page-subtitle Consumer Insights
        hr
        h1 Shopping Trends

        - var n = 0
        .row
          while n < 30
            .col-xs-12.col-sm-4.col-md-3: .block-bot-md: .block.block-ver-xl.bg-lt-grey
            - n++