.lg-item,
.sm-item
  img
    transition: all 300ms

#featured-stories
  .col-xs-12
    .lg-item
      .text
        margin: -60px auto 40px
        background: white
        width: 80%
        border-top: 3px solid black
        padding-top: 20px
        position: relative
  
  // hide last 5 articles on mobile
  .row
    .col-xs-12, .col-xs-6
      @media (max-width: $screen-xs-min)
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10)
          display: none

.sm-item
  position: relative
  display: flex
  align-items: center
  justify-content: center

  img
    align-self: flex-start

  .text
    width: calc(100% - 100px)

  .number
    position: absolute
    top: 0
    right: 0
    font-size: 8em
    line-height: 1em
    opacity: 0.05
    width: 66px
    height: 100px
    overflow: hidden

#news,
#results-news,
#results-blog
  .sm-item
    p:nth-of-type(2)
      text-transform: none

#results-reports
  .sm-item
    img
      @media (min-width: $screen-sm-min)
        height: 120px

      @media (min-width: $screen-md-min)
        height: 160px

#video-container
  height: 260px
  background: black url("../img/rectangle.jpg") no-repeat center / contain

  @media (min-width: $screen-sm-min)
    height: 400px

  @media (min-width: $screen-md-min)
    height: 500px