// ====================
// Screen sizes
// ====================

// // Extra small screen / phone
// $screen-xs-min: 48em !default

// // Small screen / tablet
// $screen-sm-min: 64em !default

// // Medium screen / desktop
// $screen-md-min: 75em !default

// Extra small screen / phone
$screen-xs-min: 480px !default

// Small screen / tablet
$screen-sm-min: 768px !default

// Medium screen / desktop
$screen-md-min: 1024px !default

// Large screen / wide desktop
$screen-lg-min: 1200px


// ====================
// Colors
// ====================

$xlt-grey: #f7f7f7
$lt-grey: #e6e6e6
$md-grey: #aaa
$dk-grey: #777
$xdk-grey: #222

$yellow: #f8bd34
$fashion: #FF671f
$li: #4a7729
$instock: #4e87a0
$styletrial: #307fe2
$mindset: #75787b