extends layout

block append vars
  - bodyclass = 'index'

block content
  .content-wrap
    h1.page-title Think Tank

    .row
      .col-xs-12.col-sm-2.bg-xlt-grey
        include partials/sub-nav

      .col-xs-12.col-sm-10
        .row
          .col-xs-12.col-sm-7.bg-xlt-grey
            include partials/featured-stories
            include partials/news

          .col-xs-12.col-sm-5
            include partials/most-viewed
            include partials/recommended-for-you