extends layout

block append vars
  - bodyclass = 'index'

block content
  .content-wrap
    h1.text-right Think Tank

    .row
      .col-xs-12.col-sm-2
        include partials/sub-nav

      .col-xs-12.col-sm-5.col-md-6
        include partials/featured-stories
        include partials/news

      .col-xs-12.col-sm-5.col-md-4
        include partials/most-viewed
        include partials/recommended-for-you