extends layout

block append vars
  - bodyclass = 'index'

block content
  .content-wrap
    h1.main-title Think Tank

    .btn-menu.block-ver-xs.block-hor-sm.bg-black.text-uppercase.text-smaller Menu

    .row
      .col-lg-2.bg-xlt-grey.sub-nav-container
        include partials/sub-nav

      .col-xs-12.col-sm-12.col-md-12.col-lg-10
        .row
          .col-xs-12.col-sm-12.col-md-7.col-lg-8.bg-xlt-grey
            include partials/featured-stories

          .col-xs-12.col-sm-12.col-md-5.col-lg-4
            include partials/news
            include partials/recommended-for-you
            include partials/most-viewed