extends layout

block append vars
  - bodyclass = 'index'

block content
  .content-wrap
    h1.main-title Think Tank

    .row
      .col-xs-12.col-sm-2.bg-xlt-grey
        include partials/sub-nav

      .col-xs-12.col-sm-10
        .row
          .col-xs-12.col-sm-7.col-md-8.bg-xlt-grey
            include partials/featured-stories

          .col-xs-12.col-sm-5.col-md-4
            include partials/news
            include partials/most-viewed
            include partials/recommended-for-you