doctype
block vars
  - var bodyclass = null

html
  head
    title WGSN Think Tank
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/flexboxgrid.css")
    //- link(rel="stylesheet" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Coming+Soon", rel="stylesheet", type="text/css")
    link(rel="shortcut icon", type="image/x-icon", href="https://www.wgsn.com/wp-content/themes/stylesight/favicon.ico")
  
  body(class="show-breaking-news " + bodyclass)
    header.bg-black
      .content-wrap
        a.pull-right.block-sm(href="/videos") Videos
        a.pull-right.block-sm(href="/search-results") Search results

    .breaking-news-alert.block-md.bg-lt-grey
      .content-wrap
        .row
          .col-xs-11
            h4.tight Breaking news
            p.tight Nike Shakeup Creates Three-Man Race to Succeed Parker as CEO

          .col-xs-1.text-right
            .close-breaking-news X
    
    #content
      block content

    footer.block-ver-md.text-center.bg-black
      p.tight.text-smaller Home&nbsp;&nbsp;|&nbsp;&nbsp;About WGSN&nbsp;&nbsp;|&nbsp;&nbsp;Help&nbsp;&nbsp;|&nbsp;&nbsp;Legal Info

  include partials/scripts