doctype
block vars
  - var bodyclass = null

html
  head
    title WGSN Think Tank
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Coming+Soon", rel="stylesheet", type="text/css")
    link(rel="shortcut icon", type="image/x-icon", href="https://www.wgsn.com/wp-content/themes/stylesight/favicon.ico")
  
  body(class=bodyclass)
    header
    
    #content
      block content

  include partials/scripts