section#featured-stories.block-top-md
  .row
    .col-xs-12: .block-bot-md: .block.block-ver-xl.bg-lt-grey: .block-ver-xl
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-xl.bg-lt-grey
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-xl.bg-lt-grey
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-xl.bg-lt-grey
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-xl.bg-lt-grey
    .col-xs-12: .block-bot-md: .block.block-ver-xl.bg-lt-grey: .block-ver-xl
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-xl.bg-lt-grey
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-xl.bg-lt-grey
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-xl.bg-lt-grey
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-xl.bg-lt-grey