mixin featured-story(img, date, title, description, category)
  .featured-story
    .img(style="background-image: url(" + img + ");")
    .text.block-ver-md.block-hor-sm.text-center
      p.text-uppercase.text-grey.text-smaller= date
      h2.text-uppercase= title
      p.description= description
      //- p.text-uppercase.text-grey.text-smaller= category

section#featured-stories.block-top-md
  .row
    .col-xs-12: +featured-story("", "June 27th, 2016", "Modern India - Social & Cultural Influences", "From Hindu hip-hop anthems to female motorcycle gangs, India's newest cultural landscape goes far beyond Bollywood.", "Social media")
    .col-xs-6: +featured-story("", "June 24th, 2016", "Skincare concepts - 2016", "Exclusive interviews with industry experts reveal the game-changing formulations and movements to keep an eye on.", "Future Forward")
    .col-xs-6: +featured-story("", "June 16th, 2016", "Instagram in china: how brands are using it", "Instagram, although blocked in China, is quickly popu- larising as the go-to creative online community as con- sumers seek an international, uncensored experience.", "Social media")
    .col-xs-6: +featured-story("", "June 14th, 2016", "Arts snapshot, London – june 2016", "Geometric shapes and linear architectural forms make up the key trends this month.", "Art")
    .col-xs-6: +featured-story("", "June 12th, 2016", "Top five – let's get phygital", "Here's our best-of from this new third space.", "Top 10")
    .col-xs-12: +featured-story("", "June 10th, 2016", "Psychedelic", "LSD is back in a big way. Acid was a club favourite in its 1960s heyday.", "Lifestyle futures")
    .col-xs-6: +featured-story("", "June 6th, 2016", "Less Trade, More Show", "Exclusive interviews with industry experts reveal the game-changing formulations and movements to keep an eye on.", "Consumer Attitudes")
    .col-xs-6: +featured-story("", "June 1st, 2016", "Arts Snapshot, London – May 2016", "Instagram, although blocked in China, is quickly popu- larising as the go-to creative online community as con- sumers seek an international, uncensored experience.", "Art")
    .col-xs-6: +featured-story("", "May 30th, 2016", "The Creative Archives", "Geometric shapes and linear architectural forms make up the key trends this month.", "Lifestyle Futures")
    .col-xs-6: +featured-story("", "May 29th, 2016", "Text Talk", "Here's our best-of from this new third space.", "Social Media")