mixin news-item(img, date, title)
  .news-item
    .img.pull-left(style="background-image: url(" + img + ");")
    .text.pull-left.block-hor-sm
      .text-aligner
        p.text-uppercase.text-grey.text-smaller.tight= date
        p.tight= title

section#news.block-top-md
  h4 News
  hr
  +news-item("", "July 5th, 2016", "Italy's coin set to sell Milan luxury story Excelsior to China's Canudilo.")
  .block-ver-md: hr.hr-alt
  +news-item("", "July 5th, 2016", "Nike sales, future orders disappoint as adidas gains ground.")
  .block-ver-md: hr.hr-alt
  +news-item("", "July 5th, 2016", "Selfridges opens pop-up store theatre as part of Shakespeare anniversary celebrations.")
  .block-ver-md: hr.hr-alt
  +news-item("", "July 5th, 2016", "Market weakness hits J Front shares as quarterly sales, profits slump.")
  .block-ver-md: hr.hr-alt
  +news-item("", "July 5th, 2016", "Shinsegae builds western-influenced mega mall in shift away from core department stores.")