section#news.block-top-md
  h4 News
  hr
  .row
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-lg.bg-lt-grey
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-lg.bg-lt-grey
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-lg.bg-lt-grey
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-lg.bg-lt-grey
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-lg.bg-lt-grey
    .col-xs-12.col-sm-6: .block-bot-md: .block.block-ver-lg.bg-lt-grey