//- jquery
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')

//- header scroll effects
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.min.js')

//- sticky
script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.min.js")


script.
  $("body").headroom({});

script.
  $("#sub-nav").sticky({
    topSpacing: 40,
    bottomSpacing: 100
  });

script.
  $('.btn-menu').on('click', function() {
    $('#content').toggleClass('show-mobile-menu');
  });

script.
  $('.close-breaking-news').on('click', function() {
    $('body').removeClass('show-breaking-news');
  });