section#sub-nav.block-top-md
  h4.text-right Home

  hr

  ul.sub-nav.ul-bare.text-smaller.text-right
    li.bg-black.block-hor-xs.inline-block.text-uppercase Generational Attitudes
    li Boomers
    li Gen X
    li Millennials
    li Gen Z
    li Alphas

  ul.sub-nav.ul-bare.text-smaller.text-right
    li.bg-black.block-hor-xs.inline-block.text-uppercase Consumer Insights
    li Shopping Trends
    li Travel Trends
    li Luxury

  ul.sub-nav.ul-bare.text-smaller.text-right
    li.bg-black.block-hor-xs.inline-block.text-uppercase Marketing
    li Social Media
    li Strategy &amp; Innovation
    li Campaigns

  ul.sub-nav.ul-bare.text-smaller.text-right
    li.bg-black.block-hor-xs.inline-block.text-uppercase Culture
    li Art
    li Culture Calendar
    li Music &amp; Media

  ul.sub-nav.ul-bare.text-smaller.text-right
    li.bg-black.block-hor-xs.inline-block.text-uppercase Innovation
    li Future Forward
    li Technology

  ul.sub-nav.ul-bare.text-smaller.text-right
    li.bg-black.block-hor-xs.inline-block.text-uppercase Business &amp; Strategy
    li The Future of Retail
    li Brand &amp; Retail Strategy
    li Conferences
    li Digital Commerce

  ul.sub-nav.ul-bare.text-smaller.text-right
    li.bg-black.block-hor-xs.inline-block.text-uppercase The Vision
    li S/S 18
    li A/W 17/18
    li S/S 17

  hr

  h4.text-right Recently viewed